<div class="container">
  <h2 class="text-center">{{ title }}</h2>
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <input type="text" class="form-control border-black rounded-0 p-3" placeholder="Todo" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-dark" type="button" id="button-addon2">+</button>
      </div>
    </div>
  </div>

  <table class="table table-dark table-striped">
    <tbody>
    <tr>
      <td>Danes moram narediti nalogo</td>
      <td class="text-end p-0">
        <button type="button" class="btn btn-danger btn-sm rounded-0 p-2">Izbriši</button>
        <button type="button" class="btn btn-success btn-sm rounded-0 p-2">Zakljčeno</button>
      </td>
    </tr>
    <tr>
      <td>Potrebuje zemljo iz kmetijske zadruge</td>
      <td class="text-end p-0">
        <button type="button" class="btn btn-danger btn-sm rounded-0 p-2">Izbriši</button>
        <button type="button" class="btn btn-success btn-sm rounded-0 p-2">Zakljčeno</button>
      </td>
    </tr>
    <tr>
      <td>Danes moram narediti nalogo</td>
      <td class="text-end p-0">
        <button type="button" class="btn btn-danger btn-sm rounded-0 p-2">Izbriši</button>
        <button type="button" class="btn btn-success btn-sm rounded-0 p-2">Zakljčeno</button>
      </td>
    </tr>
    <tr>
      <td>Danes moram narediti nalogo</td>
      <td class="text-end p-0">
        <button type="button" class="btn btn-danger btn-sm rounded-0 p-2">Izbriši</button>
        <button type="button" class="btn btn-success btn-sm rounded-0 p-2">Zakljčeno</button>
      </td>
    </tr>
    <tr>
      <td>Potrebuje zemljo iz kmetijske zadruge</td>
      <td class="text-end p-0">
        <button type="button" class="btn btn-danger btn-sm rounded-0 p-2">Izbriši</button>
        <button type="button" class="btn btn-success btn-sm rounded-0 p-2">Zakljčeno</button>
      </td>
    </tr>
    <tr>
      <td>Danes moram narediti nalogo</td>
      <td class="text-end p-0">
        <button type="button" class="btn btn-danger btn-sm rounded-0 p-2">Izbriši</button>
        <button type="button" class="btn btn-success btn-sm rounded-0 p-2">Zakljčeno</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
