<div class="container" style="width: 30%;">

  <div class="row">
    <div class="col">
      <form (ngSubmit)="add(taskNgForm)" #taskNgForm='ngForm' #form>
        <div class="input-group mb-3">
          <input readonly name="date" class="form-control border-black rounded-0 p-3" [matDatepicker]="picker"
                 [(ngModel)]="newTask.date">
          <mat-datepicker-toggle [for]="picker" class="bg-black text-white p-1"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </div>
        <div class="input-group mb-3">
          <input #newTaskNgModel="ngModel" name="taskTitle" type="text" class="form-control border-black rounded-0 p-3"
                 placeholder="Todo"
                 [(ngModel)]="newTask.title" required minlength="4">
          <button [disabled]="!form.checkValidity()" class="btn btn-success rounded-0">Add</button>
        </div>
        <div class="text-danger mb-3" *ngIf="newTaskNgModel.invalid && ( newTaskNgModel.touched || newTaskNgModel.dirty )">
          <div *ngIf="newTaskNgModel.errors?.['required']">
            Task title is required
          </div>
          <div *ngIf="newTaskNgModel.errors?.['minlength']">
            Task title must at least have 4 characters
          </div>
        </div>

      </form>
    </div>
  </div>

  <table class="table table-dark shadow">
    <tbody>
    <tr *ngFor="let task of tasks; let i = index">
      <td class="p-3" [class.text-decoration-line-through]="task.isDone">
        {{ task.title }}
      </td>
      <td class="text-end p-0">
        <button type="button" class="btn btn-danger btn-sm rounded-0 p-3" (click)="remove(task)">
          <img [src]="delete" alt="filled-trash"/>
        </button>
        <button type="button" class="btn btn-success btn-sm rounded-0 p-3" (click)="task.toggleIsDone()">
          <img [src]="task.isDone?undo:done" alt="filled-trash"/>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
